body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
:root {
    --primary-color: #04007f;
}
.container-log {
    display: flex;
    justify-content: center; 
    align-items: center; 
  
}
.input-box {
    padding-bottom: 40px;
    max-height: 0px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1{
    padding-bottom: 20px;
}
.form-container h1 {
    color: #333;
}

.form-container input {
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container .button-submit {
    background-color:  var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .button-submit:hover {
    background-color: #0056b3;
}

.menu-container {
    text-align: center;
    margin-top: 20px;
}

.container-log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons-container {
    text-align: center;
}

