:root {
    --primary-color: rgba(68,68,68,255);
    --secondary-color: rgba(34,34,34,255);
}

.titulo{
    color: white;
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.2em;
}
.principal {
    margin-bottom: 40px;
}
.todo{
    display: flex;
    margin-bottom: 0px;
    margin-top: 20px;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    border-radius: 12px 12px 0px 0px;
    border-color: rgba(68,68,68,255);
    background-color: rgba(68,68,68,255);
    color: white;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.51);
    justify-content: space-between;
}
.barra{
    align-items: center;
    width: 90%;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: var(--primary-color) !important;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
}
.pesquisa-superior{
    width: 100%;
    align-items: center;
    justify-content: center;
    display:flex; 
    background-color: rgba(34,34,34,255);
    padding: 0px 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    
}
.pesquisa{
    height: 65px;
    width: 70%;
    align-items: center;
    justify-content: center;
    display:flex;

}
.lista{
    width: 100%;
    padding: 20px;
    background-color: rgba(34,34,34,255);
    border-radius: 12px;
    margin-top: 10px;
}

.adicionar {
    background-color: rgb(58, 230, 92);    color: rgba(34,34,34,255);
    border: 0px !important;
}

#feito{
    align-self: center;
    height: 4vh;
    width: 4vh;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
}
.vazia{
    padding-bottom: 30px;
}
.tarefa {
    text-align: left;
 
}

.nome-tarefa{
    color: white;
    font-size: 22px;
    margin-bottom: 12px;
}

.atualizar{
    background-color: var(--secondary-color);
    color: white;
    margin: 30px 0px 10px 0px;
    border: 1px solid var(--primary-color) !important;

}

.data{
    color: rgb(0, 0, 0);
    padding: 5px 25px 5px 24px;
    border-radius: 0px 0px 12px 12px;
    font-size: 11px;
    justify-content: space-between;
    display: flex;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.51);
}

#descricao{
    font-size: 13px;
}

#orange{
    background-color: rgb(228, 228, 228);
}

#green{
    background-color: rgb(58, 230, 92);
}

a{
    text-decoration: none;
    color: rgb(20, 48, 75);
}

.pesquisa form{
    margin-top: 0px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    text-align: center;
}
.form{
    width: 100%;
}

h1{
    margin-bottom: 20px;
}

#alteracoes{
    display:flex;
    justify-content: space-between;
}

#alteracoes a{
    padding-left: 8px;
}

.tarefa-vazia{
    text-align: center;
    padding: 20px;
    color: white;
}
/* Paginacao */
.pagination-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Paginacao */
.pagination {
    display: flex;
    justify-content: center;
    margin: 0px 0px 10px 0px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.pagination a{
    border: 1px solid var(--primary-color) !important;
    color: white !important;
}

.pagination a, .pagination span {
    color: #333;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 4px;
    border-radius: 8px;
    flex: 1 1 auto;
    text-align: center;
}

.pagination a:hover {
    background-color:var(--primary-color);
    color: white;
}

.pagination .current {
    background-color:var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.pagination a:active, .pagination a:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

/* Media Queries */
@media (max-width: 600px) {
    .pagination a, .pagination span {
        padding: 8px 12px;
        margin: 2px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .pagination a, .pagination span {
        padding: 8px 10px;
        margin: 2px;
        font-size: 12px;
    }
}
