{% extends "base/base.html" %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static "todo/adicionar.css" %}"> 
{% endblock css %}

{% block content %}
    <div class="principal">
        <div class="barra">
            <div class="cabecalho">
                <h2>Edite a tarefa:</h2>
                <a href="{% url "todo_app:home" %}"><b><p id="voltar">x</p></b></a>
            </div>
            
            <div class="lista">
                
                <div class="todo">
                    <div class="tarefa">
                        
                        
                        <form action="{% url "todo_app:editar" tarefa.id %}" method='POST' id="pesquisa-form">
                        <h3 class="description">Título:</h3>
                        {% csrf_token %}
                        <input type="text" name="title" class="barra-pesquisa" value="{{tarefa.title}}">
                        <h3 id="descricao" class="description">Descrição:</h3>
                        <textarea name="descricao" class="barra-pesquisa caixa-maior">{{tarefa.detalhes}}</textarea>
                    </div>
                        <div class="checkbox-div">
                            <input type="submit" class="botao" value="Editar">
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>    
    </div>
{% endblock content %}